
.content-slide{
    width: 100%;
    position: relative;
    .paragrahp{
        position: absolute;
        margin: 0 auto;
        bottom: 50px;
        left: 8%;
        max-width: 20%;
        
    }
}

